body{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-direction: column;
	    flex-direction: column;
	margin-left: 45%;
	margin-right: 35%;
	background: red;}
	
.text{
	border: 10px solid white;
	padding-left: 10%;}
	  
h2{
	margin-top: 0;
	font-style: italic;}
	
h1{
	margin-bottom: 10px;}

.part p{
	margin-bottom: 5%;}

.part{
	margin-bottom: 15%;}


